body {
  background-image: linear-gradient(black, #1a1a1a);
  /* background-color: #f5d9df; */
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: rgb(202, 255, 0);
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: white;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
}

.list-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 4;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: rgb(202, 255, 0);
}

#mainNavbar .navbar-brand {
  /* color: rgb(202, 255, 0); */
  color: black;
  font-size: 40px;
}

@media (min-width: 990px) {
  #mainNavbar .navbar-brand {
    color: rgb(202, 255, 0);
  }
}

#headingGroup span {
  color: red;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

@media (max-width: 1110px) {
  #headingGroup h1 {
  font-weight: 100;
  font-size: 3rem;
}
}

svg {
  border-radius: 50%;
  width: 3%;
  filter: invert(90%) sepia(95%) saturate(6220%) hue-rotate(13deg) brightness(99%) contrast(105%);
}

.navbar.scrolled {
    background: red;
    transition: background 500ms;
}